/*body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}*/
/*a:link {
 color: #134da5;
 text-decoration: none
}
a:visited {
 color: #134da5;
 text-decoration: none
}
a:hover {
 color: #134da5;
 text-decoration: underline;
}
a:active {
 color: #134da5;  
 text-decoration: none;
}*/


.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
/* login page */
.login-top{
	max-width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.login-warp{
	/*margin: 0 auto; */
	position: absolute; 
	width: 100%; 
	height:400px;
	top:50%;
	margin-top:-200px;
	/*margin-left:-20px;*/
	background:url('../images/bg-login2.png') repeat-x center center;
}
.login-content{
	position: absolute;
	right: 80px;
	top: 50%;
	width:300px;
	height:243px;
	margin-left:-150px;
	margin-top:-121px;
}
.login-box-top{
	text-align: left;/*center;*/
	vertical-align: middle;
	background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
	background-repeat: repeat-x;
	height: 38px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-width: 1px 1px 0px; 
	border-style: solid;
	border-color: #D4D4D4;
}

.footer{
	text-align:center;
	color:#15428B; 
	margin:0px; 
	padding-top: 3px;
	line-height:23px; 
	font-weight:bold;}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	/*background: #444359;*/
 	font-size: 14px;
	list-style-type: none;
	padding-left: 0px; 
	margin-top: 0px; 
	margin-bottom: 0px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	color: #000;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #6c6c6c;
 	color: #FFF;
 }
 .edittable {
 	margin:10px;
 }
 .edittable tr {
 	/*height:40px;*/
 }
 .edittable tr td{
 	padding:5px;
 }

/* hack easyui*/
.accordion .accordion-header-selected {
	background: #0081c2;
}
.icon-login-title{
	padding-left:25px;
	background:url('../images/Bug_24px.png') no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: 500;
	font-style:italic;
}
.icon-login{
	background:url('../images/Login_16px.png') no-repeat center center;
}
.icon-logout{
	background:url('../scripts/jqeasyui/themes/icons/logout.png') no-repeat center center;
}
.icon-bug{
	background:url('../scripts/jqeasyui/themes/icons/bug.png') no-repeat center center;
}
.icon-tool{
	background:url('../scripts/jqeasyui/themes/icons/tool.png') no-repeat center center;
}
.panel-header {
    /*background-color: rgb(0, 129, 194);*/
}
.textbox-readonly{
	border-width:0px 0px 1px 0px;
}
.fa-btn-icon{
	font-size:16px;
	font-style:normal;
}
.fa-green{
	color:#5cb85c;
}
.fa-blue{
	color:#428bca;
}
.fa-default{
	color:#777;
}

.rating-xxs {
    font-size: 1.5em;
}
.blank-star{
	
}
.bs-callout + .bs-callout {
    margin-top: -5px;
}
.bs-callout {
    padding: 20px;
    margin: 10px 5px 10px 5px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-patch {
    border-left-color: #4cae4c;/*#f0ad4e;*/
}
.bs-callout-reply {
    border-left-color: #4cae4c;/*#f0ad4e;*/
}
.dropdown-menu{
	min-width: 170px;
}
.dropdown-menu > li > a {
	padding: 3px 10px;
}



.bugprogressbar{
	border:none;
	border-bottom:3px solid #5cb85c;
}

.bugprogressbarPr{
	border:none;
	border-bottom:3px solid #428bca;
}
.bugprogressbarDn{
	border:none;
	border-bottom:3px solid #d9534f;
}
.bugprogressbarIf{
	border:none;
	border-bottom:3px solid #5bc0de;
}
.bugprogressbarSu{
	border:none;
	border-bottom:3px solid #5cb85c;
}
.txt-default{
	color:#777;
}
.txt-primary{
	color:#428bca;
}
.txt-success{
	color:#5cb85c;
}
.txt-info{
	color:#5bc0de;
}
.txt-warning{
	color: #f0ad4e;
}
.txt-danger{
	color: #d9534f;
}



.tree-icon{
	display:none;
}
.fa-btn-icon-small{
	font-size:15px;
	font-style:normal;
	width:16px;height:18px;
}
.nav li{
	width: 100%;
}



/*comments list*/
#answers {
	border:none;
    clear: both;
    padding-top: 10px;
    width: 650px;
    
}
.question-page #answers .answer {
    border-bottom: 1px solid #e4e6e8;
}
.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left:10px;
    padding-right:10px;
    width: 650px;
    border-bottom: 1px solid #e4e6e8;
}
.answer table{
	width:100%;
}
.votecell {
    vertical-align: top;
    padding-right: 15px;
    width:100px;
}
td.answercell {
    vertical-align: top;
}
.post-signature {
    /* text-align: left; */
    vertical-align: top;
    width: 200px;
}
.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}
.user-info .user-action-time {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    white-space: nowrap;
}
.user-details {
    line-height: 17px;
    word-wrap: break-word;
}
.user-info .user-details {
    float: left;
    width: 100%;
}
.user-info .user-gravatar32 + .user-details {
    margin-left: 8px;
    width: calc(100% - 40px);
}
.user-info .-flair {
    display: block;
}

.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

.votecell .vote {
    min-width: 46px;
}
.vote {
    text-align: center;
}
.vote-count-post {
    display: block;
    font-size: 20px;
    margin: 0 0 3px 0;
}

.vote span {
    display: block;
    color: #6a737c;
}


.votecell .vote-count-post {
    margin: 8px 0;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
    height: 30px;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
    text-indent: -9999em;
    font-size: 1px;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
    cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .vote-accepted-off, .vote-accepted-on {
    display: block;
    margin: 0 auto;
    text-indent: -999em;
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}
.envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, .feed-icon, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3 {
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}
.vote-down-off, .vote-down-on {
    margin-bottom: 10px;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
    height: 30px;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
    text-indent: -9999em;
    font-size: 1px;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
    cursor: pointer;
}
.pagecur{
	cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .vote-accepted-off, .vote-accepted-on {
    display: block;
    margin: 0 auto;
    text-indent: -999em;
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}
.vote-down-off {
    background-position: 8px 8px;    
    margin-bottom: 8px;
}

.vote-up-off {
    background-position: 8px 8px;
}
.vote-up{
	background-image: url("../images/up_arrow_24px_554306_easyicon.net.png");
}
.vote-down{
	background-image: url("../images/down_arrow_24px_554270_easyicon.net.png");
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.pd8{
	padding-left: 12px;
	margin: 5px 0;
}

.page-numbers {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #848d95;
    border: 1px solid #e4e6e8;
    background-color: transparent;
}
.page-numbers.dots, .page-numbers.desc, .page-numbers.dots:hover, .page-numbers.desc:hover {
    color: #848d95;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    cursor: default;
}

/* .relativetime {
    text-decoration: none;
    font-size: 12px;
color: #9199a1;
} */

