<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="index">
    <meta name="author" content="Li baoxing">

	<title>Bugs Admin - Error</title>
	
	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link href="/css/sb-admin.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/material/easyui.css" />
	<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="/css/frontend.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    
    <!-- Custom Fonts -->
	<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="wrapper" style="padding-left:0px">
        <!-- Navigation -->
        
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div style="margin:auto;width:1060px">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Bug Tracker</a>
				</div>
			</div>
		</nav>

        <div id="page-wrapper" style="margin-top:50px">
        	<div style="margin:auto;width:1060px">
	            <div class="container-fluid">
					 <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
							<ul class="nav nav-tabs" role="tablist">
							  <li role="presentation"><a href="/">Find issues</a></li>
							  <li role="presentation"><a href="/App/Bugs/report" th:if="${fullname!=null}">Report issues</a></li>
							  <li role="presentation"><a href="/App/Public/login" th:if="${fullname==null}">Log in</a></li>
							  <li role="presentation" class="active"><a href="/App/Public/signup" th:if="${fullname==null}">Sign up</a></li>
							</ul>
						</div>
	                </div>
	                <!-- /.row -->
					
					<!-- Page Heading -->
	                <div class="row">	
						<div id="formContainer">
							<form id="signup">
								<div class="form-group">
								    <label for="exampleInputEmail1">Display name</label>
								    <input type="text" class="form-control" id="displayname1" placeholder="Enter display name">
							  	</div>
								<div class="form-group">
								    <label for="exampleInputEmail1">Email address</label>
								    <input type="email" class="form-control" id="email1" placeholder="Enter email">
							  	</div>
							  	<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
								    <input type="password" class="form-control" id="Password1" placeholder="Password">
								</div>	
								<div class="form-group text-right">
									<button type="button" class="btn btn-primary bg-some" onclick=signup()>Sign up</button>	
								</div>					  	
							</form>
						</div>
			        </div>
	            </div>
	            <!-- /.container-fluid -->
			</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/scripts/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/scripts/jqeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/scripts/backend.js"></script>
</body>
<script type="text/javascript">
	var MODEL = '/App/Public/';
	var ue;
	function callback(){
		location.href="/";
	}
	function signup(){
		if($('#displayname1').val()=="" || $('#email1').val()=="" || $('#Password1').val==""){
			show('Error', 'Please enter all fields.');
		}
		var url = MODEL + 'regist';
		var data = {
			first_name:	$('#displayname1').val(),
			email: $('#email1').val(),
			password: $('#Password1').val()
		}
		//console.log(data);
		doajax(url, data, 'POST',callback);
	}
</script>
</html>