<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="user admin">
<meta name="author" content="Li baoxing">

<title>Bugs Admin - Users</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/material/easyui.css" />
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/css/backend.css" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- Custom Fonts -->
<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Bug Tracker Admin</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:if="${fullname}">
						<i class="fa fa-user"></i> 
						<span th:text="${fullname}">Fullname</span> <span class="label label-primary" th:text="${tasks}">tasks</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/Message/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox <span class="label label-primary" th:text="${tasks}">tasks</span></a></li>
						<li class="divider"></li>
						<li><a href="/Auth/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
						<li><a href="javascript:changepassword()"><i class="fa fa-fw fa-key"></i> Change Password</a></li>
						<li class="divider"></li>
						<li><a href="/j_spring_security_logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
					</ul>
				</li>
			</ul>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li>
						<a href="/"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
					</li>
					<li>
						<a href="/Bug/assign"><i class="fa fa-fw fa-tasks"></i> Assign Bugs</a>
					</li>
					<li>
						<a href="/Bug/process"><i class="fa fa-fw fa-medkit"></i> Process Bugs</a>
					</li>
					<li>
						<a href="/Bug/review"><i class="fa fa-fw fa-refresh"></i> Review Solutions</a>
					</li>
					<li>
						<a href="/Bug/report"><i class="fa fa-fw fa-bar-chart"></i> Bug Reports</a>
					</li>
					<li>
						<a href="/Message/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox <span class="label label-primary" th:text="${tasks}">tasks</span></a>
					</li>					
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo0">
							<i class="fa fa-fw fa-reorder"></i> Authorization<i class="fa fa-fw fa-caret-down"></i>
						</a>
						<ul id="demo0" aria-expanded="true" class="nav navbar-nav">
							<li class="active"><a href="/Auth/user"><i class="fa fa-fw fa-user"></i> User Admin</a></li>
							<li><a href="/Auth/roles"><i class="fa fa-fw fa-group"></i> Role</a></li>
							<li><a href="/Auth/resources"><i class="fa fa-fw fa-cogs"></i> Resource</a></li>
							<li><a href="/Auth/menus"><i class="fa fa-fw fa-reorder"></i> Menu</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo1">
							<i class="fa fa-fw fa-reorder"></i> System Admin<i class="fa fa-fw fa-caret-down"></i>
						</a>
						<ul id="demo1" class="collapse">
							<li><a href="/System/products"><i class="fa fa-fw fa-product-hunt"></i> Product Admin</a></li>
							<li><a href="/System/bugparams"><i class="fa fa-fw fa-bug"></i> Bug Parameter</a></li>
							<li><a href="/System/parameters"><i class="fa fa-fw fa-support"></i> Others</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<ol class="breadcrumb">
							<li class="active">
								<li><i class="fa fa-fw fa-dashboard"></i> <a href="/">Dashboard</a></li>
								<li class="active"><i class="fa fa-fw fa-user"></i> User list</li>
							</li>
						</ol>
					</div>
				</div>
				<!-- /.row -->

				<!-- user list row -->
				<div class="row">
					<div class="col-lg-12">
					
					<div id="cc" class="easyui-layout" option-data="" style="width:auto;height:500px;">
						<div data-options="region:'west',title:'users list',collapsible:false" style="width:75%">
					
						<!-- easyui table for user list-->
						<table id="dg" class="easyui-datagrid" title=""
							data-options="rownumbers:true,singleSelect:true,pagination:true,border:false,
									fit:true,onSelect: dgUserSelect,
									idField:'id',rowStyler:rowStatus,loadMsg:'',toolbar:'#tb'">
							<thead>
								<tr>
									<th data-options="field:'username',width:100">User ID</th>
									<th data-options="field:'first_name',width:100">First Name</th>
									<th data-options="field:'last_name',width:100">Last Name</th>
									<th data-options="field:'age',width:80">Age</th>
									<th data-options="field:'email',width:100">E-mail</th>
<!-- 									<th data-options="field:'role_id',width:100,formatter:formatUserRole">Role</th> -->
									<th data-options="field:'create_ts',width:150">Creation Time</th>
									<th data-options="field:'status',width:80,align:'center',formatter:formatUserStatus">Status</th>
								</tr>
							</thead>
						</table>

						<!-- table tool bar-->
						<div id="tb" style="padding: 2px 5px;">
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true, onClick:add"><i class="fa fa-plus-square fa-btn-icon fa-green fa-lg"></i> New</a>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true, onClick:uedit"><i class="fa fa-edit fa-btn-icon fa-green fa-lg"></i> Edit</a>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true, onClick:remove"><i class="fa fa-trash fa-btn-icon fa-green fa-lg"></i> Remove</a>
							<div style="float: right">
								<input id="s-role" class="easyui-combobox"
									data-options="valueField: 'id',textField: 'rolename',label:'Select Role',
							        	labelAlign: 'right',width: 250,panelHeight:150"></input>
								<input id="s-username" class="easyui-textbox"
									data-options="buttonText:'Search',buttonIcon:'fa fa-search fa-btn-icon fa-green fa-lg',label:'User name',labelAlign: 'right',
										prompt:'User ID...',width:320,onClickButton:search"></input>
							</div>
						</div>
						
						</div>
						<div data-options="region:'center',title:'Authorited Resource list',collapsible:false" >
							<div id="dl" class="easyui-datalist" 
								data-options="lines:true,textFormatter:formatxxxStatus,idField:'id',toolbar:'#tb01',
										valueField:'id', textField:'rolename', border:false, fit:true, checkbox: true,singleSelect: false"> </div>

							<!-- table tool bar-->
							<div id="tb01" style="padding: 2px 5px;">
								<a href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Check all items" data-options="plain:true" onClick="$('#dl').datalist('checkAll')">
								<i class="fa fa-check-square-o fa-btn-icon fa-green fa-lg"></i> Check All </a>
								<a href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Uncheck all items" data-options="plain:true" onClick="$('#dl').datalist('uncheckAll')">
								<i class="fa fa-square-o fa-btn-icon fa-green fa-lg"></i> Clear All </a>
								<a href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Change roles for the selected user" data-options="plain:true" onClick=fastChangeRoles()>
								<i class="fa fa-save fa-btn-icon fa-green fa-lg"></i> Save Roles </a>
							</div>
						
						</div>
					</div>
					</div>
				</div>
				<!-- /.row -->

				<!-- detail row -->
				<div class="row" style="margin-top: 10px;">
					<div class="col-lg-12">
					    <!-- editor window -->
					    <div id="editw" > <!-- style="padding:10px" -->
					    	<input id="e-id" class="easyui-textbox" name="id" type="hidden" />      
					        <table class="edittable" cellspacing="0" cellpadding="0" style="margin:0px">
								<tbody>
									<tr>
										<td>
											<input id="e-username" class="easyui-textbox" 
												data-options="label:'Username', labelWidth: 80, labelAlign: 'right', width:210,
													readonly: 'true', onClickButton:search" />
										</td>
										<td colspan="2">
											<input id="e-rep" name="rep" class="easyui-numberspinner" 
												data-options="label:'Reputation', labelAlign: 'right',labelWidth: 80, width:210" />
										</td>
									</tr>
									<tr>
										<td style="width:220px">
											<input id="e-firstname" class="easyui-textbox" 
												data-options="label:'First name', labelWidth: 80, labelAlign: 'right',width:210" />
										</td>
										<td style="width:220px">
											<input id="e-lastname" class="easyui-textbox" 
												data-options="label:'Last name', labelWidth: 80, labelAlign: 'right', width:210" />
										</td>
										<td>
											<input id="e-age" name="age" class="easyui-numberspinner" 
												data-options="label:'Age', labelWidth: 40, width:90" />
										</td>
									</tr>
									<tr>
										<td>
											<input id="e-email" class="easyui-textbox" 
												data-options="label:'E-mail',labelWidth: 80,labelAlign: 'right',width:210" />
										</td>
										<td colspan="2">
											<label class="textbox-label textbox-label-before" style="text-align: right; width: 80px; 
												height: 27px; line-height: 27px;" for="_easyui_textbox_input4">Status</label>
											<input id="e-status" name="status" class="easyui-switchbutton" 
											data-options="width:50" />
										</td>
										
									</tr>
									<tr>
										<td  colspan="3">
											<input id="e-skill" class="easyui-textbox" 
												data-options="label:'Skill', labelWidth: 80, labelAlign: 'right', width:530,high:200,multiline:true" />
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<div style="float:right">
												<a href="javascript:void(0)" class="easyui-linkbutton" onClick=save()>
													<i class="fa fa-save fa-btn-icon fa-green fa-lg"></i> Save</a>
												<a href="javascript:void(0)" class="easyui-linkbutton" onClick="$('#editw').dialog('close')">
													<i class="fa fa-close fa-btn-icon fa-default fa-lg"></i> Cancel</a>
											</div>										
										</td>
									</tr>
								</tbody>
							</table>						
						</div>
					</div>
				</div>
				<!-- /.row -->

				<!-- new row -->
				<!-- <div class="row">
                    <div class="col-lg-12">
						
                    </div>
                </div> -->
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	
	<!-- mask windows -->
	<div id="w" class="easyui-window" title="loading..."
		data-options="modal:true,closed:true,closable:false,minimizable:false,maximizable:false,collapsible:false"
		style="width: 300px; height: 80px; padding: 10px;">Processing, please wait …</div>
	<!-- change password -->
	<div id="chpw" class="easyui-window" title="Change Password"
		data-options="modal:true,closed:true,iconCls:'fa fa-fw fa-key',minimizable:false,maximizable:false,collapsible:false" 
		style="padding:5px;">
        <div>
	        <table class="edittable" style="margin:0px" cellspacing="0" cellpadding="0">
	        	<tbody>
	        		<tr>
						<td colspan="2">
							<input id="e-oldpass" class="easyui-passwordbox"
								data-options="label:'Old password', labelWidth: 90, labelAlign: 'right', width: 220 "></input>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input id="e-newpass01" class="easyui-passwordbox"
								data-options="label:'New password', labelWidth: 90, labelAlign: 'right',  width: 220 "></input>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input id="e-newpass02" class="easyui-passwordbox"
								data-options="label:'New password', labelWidth: 90, labelAlign: 'right', width: 220 "></input>
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<a href="javascript:void(0)" class="easyui-linkbutton" onClick=chpw()>
								<i class="fa fa-save fa-btn-icon fa-green fa-lg"></i> Save&nbsp;&nbsp;</a>
						</td>
						<td style="text-align: center">
							<a href="javascript:void(0)" class="easyui-linkbutton" onClick="$('#chpw').dialog('close')">
								<i class="fa fa-close fa-btn-icon fa-default fa-lg"></i> Cancel</a>
						</td>
					</tr>
	        	</tbody>
	        </table>
        </div>
    </div>
	<!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/scripts/bootstrap.min.js"></script>

	<script type="text/javascript" src="/scripts/jqeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/scripts/backend.js"></script>

</body>

<script type="text/javascript">
	var MODEL = '/Admin/Auth/user';

	//clicks earch btn 
	function search() {
		var query = {
			role : $('#s-role').combobox('getValue'),
			username : $('#s-username').textbox('getValue')
		};
		$("#dg").datagrid('load', query);
	}

	// select user
	function dgUserSelect(index,row){
		$('#dl').datalist('uncheckAll');
		row.roles.forEach(function(r){
			//console.log(res);
			var rid = r.id;
			$('#dl').datalist('selectRecord',rid);
		})
	}
	// click new button
	function add(){
		$('#e-id').textbox('clear');
		$('#e-username').textbox('clear');
		$('#e-firstname').textbox('clear');
		$('#e-lastname').textbox('clear');
		$('#e-age').numberspinner('clear');
		$('#e-rep').numberspinner('clear');
		$('#e-email').textbox('clear');
		$('#e-skill').textbox('clear');
		$('#e-status').switchbutton('check');
		
		$('#editw').dialog('open').dialog('setTitle','Create Account');
		$('#e-username').textbox('readonly',false);
		$('#e-username').focus();
		
	}
	// click edit
	function uedit(){
		//console.log(ue);
		var row = $('#dg').datagrid('getSelected',{});
		if(row==null || row==undefined){
			alert_('Please select a row to edit.');
			return;
		}
		if(row.status==1){
			$('#e-status').switchbutton('check');
		}else{
			$('#e-status').switchbutton('uncheck');
		}
		$('#e-id').textbox('setValue',row.id);
		$('#e-username').textbox('setValue', row.username);
		$('#e-firstname').textbox('setValue', row.first_name);
		$('#e-lastname').textbox('setValue', row.last_name);
		$('#e-age').numberspinner('setValue', row.age);
		$('#e-rep').numberspinner('setValue', row.age);
		$('#e-email').textbox('setValue', row.email);
		$('#e-skill').textbox('setValue', row.skill);
		$('#editw').dialog('open').dialog('setTitle','edit user');
	}
	// click remove
	function remove(){
		var row = $('#dg').datagrid('getSelected',{});
		if(row==null || row==undefined){
			alert_('Please select a user to delete.');
			return;
		}
		$.messager.confirm('Confirm', 'Are you confirm this?', function(r){
			if (r){
				var url= MODEL + '/delete';
				var data= {"id":Number(row.id), "_method": 'DELETE'};
				var dg= $('#dg');
				console.log(data);
				action(url, data, dg, "POST");
			}
		});
	}
	// fastChangeRoles
	function fastChangeRoles(){
		var url= MODEL + '/save';
		var row = $('#dg').datagrid('getSelected',{});
		if(row==null || row==undefined){
			alert_('Please select a user to modify.');
			return;
		}
		var ids="";
		rolRow = $('#dl').datalist('getChecked');
		rolRow.forEach(function(r){
			ids = ids==""?"":ids + ",";
			ids = ids+ r.id
		})
		console.log(row);
		delete row.roles;
		row.roleids = ids;
		console.log(row);
		var dg= $('#dg');
		action(url, row, dg, "POST");
	}
	// click save
	function save(){
		var url= MODEL + '/save';
		var ids="";
		rolRow = $('#dl').datalist('getChecked');
		rolRow.forEach(function(r){
			ids = ids==""?"":ids + ",";
			ids = ids+ r.id
		})
		
		var data={
			id:$('#e-id').textbox('getValue'),
			username:$('#e-username').textbox('getValue'),
			first_name:$('#e-firstname').textbox('getValue'),
			last_name:$('#e-lastname').textbox('getValue'),
			age:$('#e-age').numberspinner('getValue'),
			email:$('#e-email').textbox('getValue'),
			skill:$('#e-skill').textbox('getValue'),
			status:$('#e-status').switchbutton('options').checked ? 1 : 0,
			reputation:$('#e-rep').numberspinner('getValue')==""?0:$('#e-rep').numberspinner('getValue'),
			roleids:ids
		}
		console.log(data);

		var dg= $('#dg');
		action(url, data, dg, "POST");
	}
	
	function formatxxxStatus(value,row,index){
		return "<code>" + row.rolename + "</code>";
	}
	
	$(function() {
		// editor windows
		$("#editw").dialog({
			width:560,
			closed:true,
			modal:true,
			shadow:false,
			closable:true,
			draggable:true
		});
		$('#e-role_id').combobox({
			url:'/Rest/rolesnamelist',method: 'get',
			// fill s-role
		});
		$('#s-role').combobox({
			url:'/Rest/rolesnamelist',method: 'get'
		});
		// dynamic bind datagrid
		$('#dg').datagrid({
			url:'/Auth/user/list?sort=username&order=asc',method:'get',
			onBeforeLoad : function() {
				// show fullscreen modal windows
				fullScreenMask('open');
			},
			onLoadSuccess : function() {
				// Get this datagrid's panel object
				$(this).datagrid('getPanel')
				// for all easyui-linkbutton <a>'s make them a switchbutton
				.find('input.easyui-switchbutton').switchbutton();
				// bug!! to refreash the value of edit window 
				var row = $('#dg').datagrid('getSelected');
				if (row != null || row != undefined)
					$('#dg').datagrid('selectRecord', row.id);
				fullScreenMask('close');
			},
			onLoadError : function(XMLHttpRequest) {
				fullScreenMask('close');
				//console.log(XMLHttpRequest);
				ajaxerror(XMLHttpRequest.responseText);
			}
		});
		$('#dl').datalist({
			url:'/Rest/roleslist?sort=rolename&order=asc',
			method:'get'
		});
	});
</script>


</html>
