<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker System</title>
    <link rel="stylesheet" type="text/css" href="../Static/scripts/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="../Static/scripts/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../Static/css/backend.css">
	<link rel="shortcut icon" type="image/x-icon" href="../Static/images/favicon.ico">
    <script type="text/javascript" src="../Static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Static/scripts/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../Static/scripts/backend.js"></script>
</head>
<body class="easyui-layout">
	<!-- top bar 2016/0813 -->
    <div data-options="region:'north'" style="height:30px; line-height: 20px;">
		<div class="easyui-panel">
			<span style="float:right; padding-right:20px;">
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true, iconCls:'icon-edit'" style="">Change Password</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true, iconCls:'icon-logout'" style="">logout</a>
			</span>
		</div>
    </div>
	<!-- footer bar 2016/0813 -->
    <div data-options="region:'south'" style="height:30px;">
		<div class="footer">2016 By Group 15</div>
	</div>
	<!-- navigater bar 2016/0813 -->
    <div data-options="region:'west',title:'Navigater',split:true" style="width:200px;">
		<div class="easyui-accordion" fit="true" border="false">
			<div title="Bug Process" data-options="iconCls:'icon-tool'" style="overflow:auto;padding:0px;">
				<ul class="submenu">
					<li><a id="m1" href="javascript:void(0)" onclick="navClick(this)">Assign Task</a></li>
					<li><a id="m2" href="javascript:void(0)">Process Task</a></li>
					<li><a id="m3" href="javascript:void(0)">Check</a></li>
					<li><a id="m4" href="javascript:void(0)">Report</a></li>
				</ul>
			</div>
			<div title="System" data-options="iconCls:'icon-tool'" style="padding:0px;">
				<ul class="submenu">
					<li><a id="m5" href="javascript:void(0)">Comment Admin</a></li>
					<li><a id="m6" href="javascript:void(0)">Product Admin</a></li>
					<li><a id="m7" href="javascript:void(0)">User Admin</a></li>
				</ul>         
			</div>
		</div>
	</div>
	<!-- main window 2016/0813 -->
    <div data-options="region:'center',title:''" style="padding:0px;"><!-- background:#eee; -->
		<div id="Main_p" class="easyui-panel" title="Wellcome!" data-options="fit:true,border:false, loadingMessage:''" style="padding:5px;">
		<!--
		data-options="
                tools:[{
                    iconCls:'icon-reload',
                    handler:function(){
                        $('#Main_p').panel('refresh', '_content.html');
                    }
                }]
            "
		-->
		</div>
	</div>
	
	
	<!-- mask windows -->
	<div id="w" class="easyui-window" title="Modal Window" 
		data-options="modal:true,closed:true,closable:false,minimizable:false,maximizable:false,collapsible:false" 
		style="width:300px;height:80px;padding:10px;">
        loading...
    </div>
</body>
<script type="text/javascript">
	function navClick(obj){
		//show(obj.innerHTML);
		$('#w').window('open',true);
		// according to mID to load pages respectively
		$("#Main_p").panel('setTitle',obj.innerHTML);
		$('#Main_p').panel('refresh', 'logout.html');
		$('#w').window('close',true);
	}
</script>
</html>