<!DOCTYPE html>
<html>
<title>Bugs Admin - Login</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/material/easyui.css" />
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/css/backend.css" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- Custom Fonts -->
<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="login-warp">
	<div class="login-content">
		<form id="loginForm" action="/j_spring_security_check" method="post">
		<input type="hidden" name="isAjax" value="1" />
		<div class="login-box-top">
			<h3 class="icon-login-title"> Bug Tracking System<small> v1.0</small></h3>
		</div>
		<div class="easyui-panel" style="width:300px; padding:20px 20px" data-options="loadingMessage:''">
			<div style="margin-bottom:20px">
				<input name="username" class="easyui-textbox" prompt="Username" iconWidth="28" style="width:258px;height:34px;padding:10px;" />
			</div>
			<div style="margin-bottom:20px">
				<input name="password" id="pass" class="easyui-passwordbox" prompt="Password" iconWidth="28" style="width:258px;height:34px;padding:10px" />
			</div>
			<div>
				<div style="float:right;">
					<a id="btn-login" href="javascript:void(0)" class="easyui-linkbutton c1" data-options="iconCls:'icon-login'" style="width:100px;height:35px;">Login</a>
				</div>
<!-- 				<div style="float: left; width: auto; height: 35px; padding-top: 19px;"> -->
<!-- 					<a id="btn-forget" href="#" style="bottom:0px;">Forgetton Password ?</a> -->
<!-- 				</div> -->
			</div>
		</div>
		<div id="viewer"></div>
		</form>
	</div>
 </div>
 
 	<!-- mask windows -->
	<div id="w" class="easyui-window" title="Modal Window" 
		data-options="modal:true,closed:true,closable:false,minimizable:false,maximizable:false,collapsible:false" 
		style="width:300px;height:80px;padding:10px;">
        loading...
    </div>
    
    <!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/scripts/bootstrap.min.js"></script>

	<script type="text/javascript" src="/scripts/jqeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/scripts/backend.js"></script>
</body>

<script type="text/javascript">
	$('#pass').passwordbox({
		inputEvents: $.extend({}, $.fn.passwordbox.defaults.inputEvents, {
			keypress: function(e){
				var char = String.fromCharCode(e.which);
				$('#viewer').html(char).fadeIn(200, function(){
					$(this).fadeOut();
				});
			}
		})
	})
	$(function(){
		$('#btn-login').bind('click', function(){
			//$('#loginForm').form().submit();
			//$.messager.alert("xx","click sunmit","info");
			$('#loginForm').form('submit',{
				url: '/j_spring_security_check',
				method: 'POST',
			    dataType: 'json',
				onSubmit: function(){
					//return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');					
					if (result.status){
						location.href="/";
					} else {
						$.messager.show({
							title: 'Error',
							msg: result.info
						});
					}
				}
			})
		});
		$('#btn-forget').bind('click', function(){
			$.messager.alert("","click forget","info");
		});
	});
</script>
<style>
	#viewer{
		position: relative;
		padding: 0 20px;
		top: -70px;
		font-size: 40px;
		line-height: 60px;
	}
</style>

</html>