<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Bug Tracker System</title>
<!-- <link rel="stylesheet" type="text/css" href="/scripts/themes/metro/easyui.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/scripts/themes/bootstrap-1/jquery.ui.theme.css" /> -->
<link rel="stylesheet" type="text/css" href="/scripts/themes/bootstrap/easyui.css" />
<link rel="stylesheet" type="text/css" href="/scripts/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/css/backend.css" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/scripts/backend.js"></script>
</head>
<body class="easyui-layout">
	<!-- top bar 2016/0813 -->
	<div data-options="region:'north'"
		style="height: 30px; line-height: 20px;">
		<div class="easyui-panel" style="background: #0081c2">
			<!--#6c6c6c-->
			<span style="float: right; padding-right: 20px;"> <a
				href="javascript:void(0)" class="easyui-linkbutton"
				data-options="plain:true, iconCls:'icon-edit'" style="color:#fff">Change
					Password</a> <a id="btn-logout" href="/j_spring_security_logout" class="easyui-linkbutton"
				data-options="plain:true, iconCls:'icon-logout'" style="color:#fff">logout</a>
			</span>
		</div>
	</div>
	<!-- footer bar 2016/0813 -->
	<div data-options="region:'south'" style="height: 30px;">
		<div class="footer">2016 By Group 15</div>
	</div>
	<!-- navigater bar 2016/0813 -->
	<div data-options="region:'west',title:'Navigater',split:true"
		style="width: 230px;">
		<div class="easyui-accordion" fit="true" border="false">
			<!-- for staffs to deal with bugs -->
			<div title="Bug Management" data-options="iconCls:'icon-tool'"
				style="overflow: auto; padding: 0px;">
				<ul class="submenu">
					<li><a id="m0101" href="javascript:void(0)">Assign Bug</a></li>
					<li><a id="m0102" href="javascript:void(0)">Process Bug</a></li>
					<li><a id="m0103" href="javascript:void(0)">Solution Check</a></li>
					<li><a id="m0104" href="javascript:void(0)">Bug Report</a></li>
				</ul>
			</div>
			<!-- to manage RBAC -->
			<div title="User management" data-options="iconCls:'icon-tool'"
				style="padding: 0px;">
				<ul class="submenu">
					<li><a id="m0201" href="javascript:void(0)">User</a></li>
					<li><a id="m0202" href="javascript:void(0)">Resource</a></li>
					<li><a id="m0203" href="javascript:void(0)">Group and
							Permission</a></li>
					<li><a id="m0204" href="javascript:void(0)">Assign Group</a></li>
				</ul>
			</div>
			<!-- to manage sysytem parameter -->
			<div title="Parameter Management" data-options="iconCls:'icon-tool'"
				style="padding: 0px;">
				<ul class="submenu">
					<li><a id="m0301" href="javascript:void(0)">Product Admin</a></li>
					<!-- what products should be maintained -->
					<li><a id="m0302" href="javascript:void(0)">Bug Catalog</a></li>
					<!-- interface, function ...-->
				</ul>
			</div>
		</div>
	</div>
	<!-- main window 2016/0813 -->
	<div data-options="region:'center',title:''" style="padding: 0px;">









<div id="Main_p" class="easyui-panel" title="Wellcome!" data-options="fit:true,border:false" style="padding: 5px;">
<table id="dg" class="easyui-datagrid" title="users list"
	style="width: auto; height: 335px"
	data-options="
			rownumbers:true,
			singleSelect:true,
			pagination:true,
			url:'/Auth/user/list?sort=username&order=asc',
			method:'get',
			idField:'id',
			rowStyler:rowStatus,
			onSelect: dgselect,
			loadMsg:'',
			toolbar:'#tb'">
	<!-- dg_toolbar //backend.js-->
	<thead>
		<tr>
			<th data-options="field:'username',width:100">User ID</th>
			<th data-options="field:'first_name',width:100">First Name</th>
			<th data-options="field:'last_name',width:300">Last Name</th>
			<th data-options="field:'age',width:150">Age</th>
			<th data-options="field:'email',width:150">E-mail</th>
			<th
				data-options="field:'status',width:80,align:'center',formatter:formatStatus">Status</th>
		</tr>
	</thead>
</table>

<!-- tool bar-->
<div id="tb" style="padding: 2px 5px;">
	<a href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-add', plain:true">Add</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-edit', plain:true">Edit</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-remove', plain:true">Remove</a>
	<div style="float: right">
		<input id="s-role" class="easyui-combobox"
			data-options="
	                    valueField: 'id',
	                    textField: 'roleName',
	                    label:'Select Role',
	                    labelAlign: 'right',
	                    method: 'get',
	                    width: 250,
	                    url:'/Auth/role/listname',
	                    panelHeight:150"></input>
		<input id="s-username" class="easyui-textbox"
			data-options="
						buttonText:'Search',
						buttonIcon:'icon-search',
						label:'Username',
						labelAlign: 'right',
						prompt:'User ID...',
						width:320,
						onClickButton:search"></input>
	</div>
</div>
<div style="margin-top: 20px;">
	<div id="edit-panel" class="easyui-panel"  style="padding: 5px"
			data-options="
				title:'User Detail'
						">
		<form id="fm" method="post">
			<input id="id" name="id" type="hidden" />
			<table class="" align="left" valign="middle" cellspacing="0px">
				<tr>
					<th class="tRight">Username:</th>
					<td colspan="5">
						<input id="username" name="username" class="easyui-textbox"  data-options="width:170"/>
					</td>
				</tr>
				<tr>
					<th class="tRight">First name:</th>
					<td  class="tRight">
						<input id="first_name" name="first_name" class="easyui-textbox"  data-options="width:170"/>
					</td>
					<th class="tRight">Last name:</th>
					<td  class="tRight">
						<input id="last_name" name="last_name" class="easyui-textbox"  data-options="width:170"/>
					</td>
					<th class="tRight">Age:</th>
					<td  class="tRight">
						<input id="age" name="age" class="easyui-numberspinner" data-options="width:50" />
					</td>
				</tr>			
				<tr>
					<th class="tRight">E-mail:</th>
					<td>
						<input id="email" name="email" class="easyui-textbox" data-options="width:170"/>
					</td>
					<th class="tRight">Status:</th>
					<td colspan="3">
						<input id="status" name="status" class="easyui-switchbutton" data-options="width:50, height: 22"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
	var MODEL= '/Auth/user';
	function search(){
		var query = {
				role: $('#s-role').combobox('getValue'),
				username : $('#s-username').textbox('getValue')
			};
		$("#dg").datagrid('load',query);			
	}
	
	$(function() {
		// dynamic bind datagrid
		$('#dg').datagrid({
			onBeforeLoad : function(){
				// show fullscreen modal windows
				fullScreenMask('open');
			},
			onLoadSuccess : function() {
				// Get this datagrid's panel object
				$(this).datagrid('getPanel')
				// for all easyui-linkbutton <a>'s make them a switchbutton
				.find('input.easyui-switchbutton').switchbutton();
				// bug!! to refreash the value of edit window 
				var row= $('#dg').datagrid('getSelected');
				if(row!=null || row!=undefined)
					$('#dg').datagrid('selectRecord',row.id);
				$('#w').window('close', true);
			},
			onLoadError :function(XMLHttpRequest){
				fullScreenMask('close');
				console.log(XMLHttpRequest);
				ajaxerror(XMLHttpRequest.responseText);
			}
		});
	});
</script>

	<!-- mask windows -->
	<div id="w" class="easyui-window" title="Modal Window"
		data-options="modal:true,closed:true,closable:false,minimizable:false,maximizable:false,collapsible:false"
		style="width: 300px; height: 80px; padding: 10px;">Processing, please wait …</div>
</body>
<script type="text/javascript">
	$(function() {
		$("#tt").tabs({ 
			width:$("#tt").parent().width(),
			height:$("#tt").parent().height()
		});
		
		// bind click for bug management
		for (var i = 1; i < 5; i++) {
			$('#m010' + i).bind('click', function() {
				navClick(this);
			});
		}
		// bind click for user management
		for (var i = 1; i < 5; i++) {
			$('#m020' + i).bind('click', function() {
				navClick(this);
			});
		}
		// bind click for parameter management
		for (var i = 1; i < 3; i++) {
			$('#m030' + i).bind('click', function() {
				navClick(this);
			});
		}
		// bind logout
		$('#btn-logout').bind('click', function(){
			location.href ="/j_spring_security_logout?isAjax=1";
			$.ajax({
			    //提交数据的类型 POST GET
			    type:"GET",
			    //提交的网址
			    url:"/j_spring_security_logout",
			    //提交的数据
			    //data:{};//{Name:"sanmao",Password:"sanmaoword"},
			    //返回数据的格式
			    //datatype: "html",//"xml", "html", "script", "json", "jsonp", "text".
			    //在请求之前调用的函数
			    //beforeSend:function(){$("#msg").html("logining");},
			    //成功返回之后调用的函数            
			    success:function(result){
					var result = eval('('+result+')');					
					if (result.status){
						location.href="/";
					} else {
						$.messager.show({
							title: 'Error',
							msg: result.info
						});
					}
				},
			    //调用执行后调用的函数
			    complete: function(XMLHttpRequest, textStatus){
			       //alert(XMLHttpRequest.responseText);
			       //alert(textStatus);
			       //HideLoading();
			    },
			    //调用出错执行的函数
			    error: function(){
			        //请求出错处理
			    }        
			 });
		});
	});
	function navClick(obj) {
		// show mask window
		//$('#w').window('center');
		//$('#w').window('open');
		// according to mID to load pages respectively
		$("#Main_p").panel('setTitle', obj.innerHTML);
		switch (obj.id) {
		case "m0101":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		case "m0102":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		case "m0103":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		case "m0104":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		case "m0201":
			//$('#Main_p').panel('refresh', 'Auth/user');
			//addTab("Account Management", 'Auth/user');
			window.location.href='/Auth/user';
			break;
		case "m0202":
			$('#Main_p').panel('refresh', 'Auth/resources');
			break;
		case "m0203":
			$('#Main_p').panel('refresh', 'Auth/groups');
			break;
		case "m0204":
			$('#Main_p').panel('refresh', 'Auth/permissions');
			break;
		case "m0301":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		case "m0302":
			$('#Main_p').panel('refresh', 'Public/login.html');
			break;
		}
		// close mask window
		//$('#w').window('close', true);
	}
</script>
</html>