<table id="dg" class="easyui-datagrid" title="users list"
	style="width: auto; height: 335px"
	data-options="
			rownumbers:true,
			singleSelect:true,
			pagination:true,
			url:'/Auth/user/list?sort=username&order=asc',
			method:'get',
			idField:'id',
			rowStyler:rowStatus,
			onSelect: dgselect,
			loadMsg:'',
			toolbar:'#tb'">
	<!-- dg_toolbar //backend.js-->
	<thead>
		<tr>
			<th data-options="field:'username',width:100">User ID</th>
			<th data-options="field:'first_name',width:100">First Name</th>
			<th data-options="field:'last_name',width:300">Last Name</th>
			<th data-options="field:'age',width:150">Age</th>
			<th data-options="field:'email',width:150">E-mail</th>
			<th
				data-options="field:'status',width:80,align:'center',formatter:formatStatus">Status</th>
		</tr>
	</thead>
</table>

<!-- tool bar-->
<div id="tb" style="padding: 2px 5px;">
	<a href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-add', plain:true">Add</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-edit', plain:true">Edit</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		data-options="iconCls:'icon-remove', plain:true">Remove</a>
	<div style="float: right">
		<input id="s-role" class="easyui-combobox"
			data-options="
	                    valueField: 'id',
	                    textField: 'roleName',
	                    label:'Select Role',
	                    labelAlign: 'right',
	                    method: 'get',
	                    width: 250,
	                    url:'/Auth/role/listname',
	                    panelHeight:150"></input>
		<input id="s-username" class="easyui-textbox"
			data-options="
						buttonText:'Search',
						buttonIcon:'icon-search',
						label:'Username',
						labelAlign: 'right',
						prompt:'User ID...',
						width:320,
						onClickButton:search"></input>
	</div>
</div>
<div style="margin-top: 20px;">
	<div id="edit-panel" class="easyui-panel"  style="padding: 5px"
			data-options="
				title:'User Detail'
						">
		<form id="fm" method="post">
			<input id="id" name="id" type="hidden" />
			<table class="" align="left" valign="middle" cellspacing="0px">
				<tr>
					<th class="tRight">Username:</th>
					<td colspan="5">
						<input id="username" name="username" class="easyui-textbox"  data-options="width:170"/>
					</td>
				</tr>
				<tr>
					<th class="tRight">First name:</th>
					<td  class="tRight">
						<input id="first_name" name="first_name" class="easyui-textbox"  data-options="width:170"/>
					</td>
					<th class="tRight">Last name:</th>
					<td  class="tRight">
						<input id="last_name" name="last_name" class="easyui-textbox"  data-options="width:170"/>
					</td>
					<th class="tRight">Age:</th>
					<td  class="tRight">
						<input id="age" name="age" class="easyui-numberspinner" data-options="width:50" />
					</td>
				</tr>			
				<tr>
					<th class="tRight">E-mail:</th>
					<td>
						<input id="email" name="email" class="easyui-textbox" data-options="width:170"/>
					</td>
					<th class="tRight">Status:</th>
					<td colspan="3">
						<input id="status" name="status" class="easyui-switchbutton" data-options="width:50, height: 22"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<!-- edit window
<div id="editw" class="easyui-dialog" style="padding:10px"
		data-options="
			width:416,
			height:215,
			modal:true,
			closed:true,
			buttons:ew_buttons">
</div>-->

<script type="text/javascript">
	var MODEL= '/Auth/user';
	function search(){
		var query = {
				role: $('#s-role').combobox('getValue'),
				username : $('#s-username').textbox('getValue')
			};
		$("#dg").datagrid('load',query);			
	}
	
	$(function() {
		// dynamic bind datagrid
		$('#dg').datagrid({
			onBeforeLoad : function(){
				// show fullscreen modal windows
				fullScreenMask('open');
			},
			onLoadSuccess : function() {
				// Get this datagrid's panel object
				$(this).datagrid('getPanel')
				// for all easyui-linkbutton <a>'s make them a switchbutton
				.find('input.easyui-switchbutton').switchbutton();
				// bug!! to refreash the value of edit window 
				var row= $('#dg').datagrid('getSelected');
				if(row!=null || row!=undefined)
					$('#dg').datagrid('selectRecord',row.id);
				$('#w').window('close', true);
			},
			onLoadError :function(XMLHttpRequest){
				fullScreenMask('close');
				console.log(XMLHttpRequest);
				ajaxerror(XMLHttpRequest.responseJSON);
			}
		});
	});
</script>