<table id="dg" class="easyui-datagrid" title="users list" style="width:auto;height:335px"
		data-options="
			rownumbers:true,
			singleSelect:true,
			pagination:true,
			url:'/data/data_user.json',
			method:'get',
			idField:'id',
			rowStyler:rowStatus,
			toolbar:'#tb'"><!-- dg_toolbar //backend.js-->
	<thead>
		<tr>
			<th data-options="field:'id',width:100">User ID</th>				
			<th data-options="field:'firstname',width:100">First Name</th>	
			<th data-options="field:'lastname',width:300">Last Name</th>
			<th data-options="field:'email',width:150">E-mail</th>
			<th data-options="field:'group',width:150">Group Info</th>
			<th data-options="field:'status',width:80,align:'center',formatter:formatStatus">Status</th>
		</tr>
	</thead>
</table>

<!-- tool bar-->
<div id="tb" style="padding:2px 5px;">
	<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add', plain:true">Add</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit', plain:true">Edit</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove', plain:true">Remove</a>
	<input class="easyui-textbox" data-options="buttonText:'Search',buttonIcon:'icon-search',prompt:'User ID...',width:300" />
</div>

<!-- edit window-->
<div id="editw" class="easyui-dialog" style="padding:10px"
		data-options="
			width:416,
			height:215,
			modal:true,
			closed:true,
			buttons:ew_buttons">
	<form id="fm" method="post">
		<table class="" align="center" valign="middle" cellspacing="0px"><!--  -->
			<tr>
				<th class="tRight">xxxx</th>
				<td>
					<input id="version" name="version" type="text" style="width:170px" />
				</td>
				<th class="tRight">xxx</th>
				<td  class="tRight">
					<select id="status" name="status" style="width:80pt;">
						<option value ="1">xxx</option>
						<option value ="0">xxx</option>
					</select>
				</td>
			</tr>			
			<tr>
				<th class="tRight">xxx</th>
				<td colspan="3">
					<textarea id="descript" name="descript" rows="5" cols="50"></textarea>
				</td>
			</tr>
		</table>
	</form>
</div>

<script type="text/javascript">
	$(function(){
		// dynamic bind datagrid
		$('#dg').datagrid({
			onLoadSuccess:function(){
				// Get this datagrid's panel object
				$(this).datagrid('getPanel')
					// for all easyui-linkbutton <a>'s make them a linkbutton
					.find('input.easyui-switchbutton').switchbutton();
			}
		});
		
		// dynamic bind edit window--
		//$('#editw').dialog();
	});
</script>