<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="index">
    <meta name="author" content="Li baoxing">

<title>Bugs Admin - 403</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/material/easyui.css" />
<link rel="stylesheet" type="text/css" href="/scripts/jqeasyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="/css/backend.css" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- Custom Fonts -->
<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Bug Tracker Admin</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:if="${fullname}">
						<i class="fa fa-user"></i> 
						<span th:text="${fullname}">Fullname </span> <span class="label label-primary" th:text="${tasks}">tasks</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/Admin/Message/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox <span class="label label-primary" th:text="${tasks}">tasks</span></a></li>
						<li class="divider"></li>
						<li><a href="/Admin/Auth/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
						<li><a href="javascript:changepassword()"><i class="fa fa-fw fa-key"></i> Change Password</a></li>
						<li class="divider"></li>
						<li><a href="/Admin/j_spring_security_logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
					</ul>
				</li>
			</ul>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active">
						<a href="/Admin/"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
					</li>
					<li>
						<a href="/Admin/Bug/assign"><i class="fa fa-fw fa-tasks"></i> Assign Bugs</a>
					</li>
					<li>
						<a href="/Admin/Bug/process"><i class="fa fa-fw fa-medkit"></i> Process Bugs</a>
					</li>
					<li>
						<a href="/Admin/Bug/review"><i class="fa fa-fw fa-refresh"></i> Review Solutions</a>
					</li>
					<li>
						<a href="/Admin/Bug/report"><i class="fa fa-fw fa-bar-chart"></i> Bug Reports</a>
					</li>
					<li>
						<a href="/Admin/Message/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox <span class="label label-primary" th:text="${tasks}">tasks</span></a>
					</li>					
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo0">
							<i class="fa fa-fw fa-reorder"></i> Authorization<i class="fa fa-fw fa-caret-down"></i>
						</a>
						<ul id="demo0" class="collapse">
							<li><a href="/Admin/Auth/user"><i class="fa fa-fw fa-user"></i> User Admin</a></li>
							<li><a href="/Admin/Auth/roles"><i class="fa fa-fw fa-group"></i> Role</a></li>
							<li><a href="/Admin/Auth/resources"><i class="fa fa-fw fa-cogs"></i> Resource</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" data-toggle="collapse" data-target="#demo1">
							<i class="fa fa-fw fa-reorder"></i> System Admin<i class="fa fa-fw fa-caret-down"></i>
						</a>
						<ul id="demo1" class="collapse">
							<li><a href="/Admin/System/products"><i class="fa fa-fw fa-product-hunt"></i> Product Admin</a></li>
							<li><a href="/Admin/System/bugparams"><i class="fa fa-fw fa-bug"></i> Bug Parameter</a></li>
							<li><a href="/Admin/System/parameters"><i class="fa fa-fw fa-support"></i> Others</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

        <div id="page-wrapper">
            <div class="container-fluid">
				 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
						<h1 class="page-header txt-warning">
							<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i> An Error Occurred</h1>
						<p style="color:#9d9d9d" th:if="${path}">
							<b>Module:</b> 
							<span th:text="${path}">Page URL</span>
						</p>
						<p style="color:#9d9d9d" th:if="${timestamp}" id='created'>
							<b>Occurred:</b> 
							<span th:text="${timestamp}">Timestamp</span>
						</p>
					
						<p style="color:#9d9d9d" th:if="${status}">
							<b>Response Status:</b>
							<span th:text="${status}">status-code</span> 
							<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
						</p>
					
						<!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
						       ${exception} or ${message} are set internally by Spring Boot. */-->
						<div  style="color:#9d9d9d" th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
							<b>Cause:</b> 
							<span th:if="${ex}" th:text="${ex}">exception ...</span>
							<span th:if="${exception}" th:text="${exception}">exception ...</span>
							<span th:if="${message} and ${message.length() != 0}" th:text="${message}">message ...</span>
							<!-- 
							<blockquote>
								<i>Note: You would never generate a page that displays a Java
									exception to an end-user in a real application</i>
							</blockquote>
							 -->
						</div>
					
						<p style="color:#9d9d9d" th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
							Cause unknown (no exception details available)
						</p>
					
						<div  style="color:#9d9d9d" th:if="${exception} and ${exception.stackTrace != null}">
							<ul>
								<li th:each="ste : ${exception.stackTrace}">
									<span th:utext="${ste}" >${ste}</span>
								</li>
							</ul>
						</div>
					</div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<!-- jQuery -->
	<script src="/scripts/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/scripts/bootstrap.min.js"></script>
</body>
</html>